header {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 24px;
  height: 37px;
  /*padding: 8px;*/
  background-color: #fff;
}

header .inner {
  max-width: 960px;
  position: relative;
  margin: 0 3%;
}

main {
  max-width: 960px;
  margin: 0 3%;
}

@media screen and (min-width: 960px) {
  header .inner {
    position: relative;
    margin: 0 auto;
  }

  main {
    margin: 0 auto;
  }
}
