header {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  height: 37px;
  padding: 8px;
  background-color: #fff;
  z-index: 2;
}


main {
  z-index: 1;
}

@media screen and (min-width: 768px) {
  main {
    margin: 0 40px;
  }
}

@media screen and (min-width: 1024px) {
  main {
    margin: 0 80px;
  }
}
