.template {
  display: none;
}

.clear {
  clear: both;
}

#logo {
  float: left;
}

#main-nav {
  float: right;
  background-color: #fff;
}

#nav-button {
  float: right;
  font-size: 24px;
}

#main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#main-nav ul li {
  font-size: 24px;
}

@media screen and (min-width: 960px) {
  #nav-button {
    display: none;
  }

  #main-nav {
    height: 34px;
  }

  #main-nav ul li {
    display: inline;
  }
}

select {
  width: 80%;
}

@media screen and (min-width: 960px) {
  select {
    width: 180px;
  }
}

article {
  width: 100%;
  background-color: #d3d9df;
}

@media screen and (min-width: 960px) {
  article img {
    display: inline-block;
    width: 425px;
  }
  article p {
    display: inline-block;
    width: 425px;
  }
}

article h3, article h4, article p {
  /*padding: 16px;*/
}

#headshot {
  max-width: 300px;
}
