@media screen and (min-width: 768px) {

  article {
    margin: 0 40px 0 40px;
  }

  #main-nav {
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
    height: 34px;
  }

  #main-nav ul li {
    display: inline;
    padding: 20px, 20px, 20px, 0;
  }

  #nav-button {
    display: none;
  }
}

@media screen and (min-width: 1024px) {

  article {
    margin: 0 80px 0 80px;
  }
}
